a {
    text-decoration: none;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative; /* Add this to make the button position relative to the container */
}

.search-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    width: 400px;
}

.search-button {
    background-color: #030f1c;
    border: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 4px;
    margin-left: 10px;
}