.card {
    min-height: 600px;
    max-height: 810px;
    transition: 0.4s;
}

.image-container {
    position: relative;
    width: 100%;
}

.product-card .card-img-top {
    width: 100%;
    transition: opacity 0.7s ease, transform 0.5s ease;
}

.product-card .image-1,
.product-card .image-2 {
    position: absolute;
    top: 0;
    left: 0;
}

.product-card .image-2 {
    opacity: 0;
}

.product-card:hover .image-1 {
    opacity: 0;
}

.product-card:hover .image-2 {
    opacity: 1;
}

.card-body {
    position: relative;
    padding-top: 155%;
}