<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/customer/productCard.css}"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet"/>
    <script defer th:src="@{/js/products.js}"></script>
    <style>
        .card-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>
<div class="card" th:fragment="product-card(product)">
    <a class="text-decoration-none" style="color: inherit;" th:href="@{/products/{id}(id=${product.id})}">
        <div class="card border-light shadow-sm mb-3 product-card">
            <div class=" p-0">
                <div class="position-relative">
                    <div th:if="${#lists.size(product.images) > 1}">
                        <img alt="Product Image" class="card-img-top image-1" th:src="${product.images[0].url}">
                        <img alt="Product Image" class="card-img-top image-2" th:src="${product.images[1].url}">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.title}">Product Title</h5>
                    <div class="prices text-center">
                        <p class="card-text price" id="productPrice"
                           th:text="${#numbers.formatDecimal(product.variants[0].price, 1, 'COMMA', 0, 'POINT')} + 'đ'">
                            Price
                        </p>
                        <p class="card-text strikethrough" id="productPrice"
                           th:classappend="${product.variants[0].compareAtPrice != null && product.variants[0].compareAtPrice > 0 && product.variants[0].compareAtPrice != product.variants[0].price} ? 'strikethrough' : ''"
                           th:text="${#numbers.formatDecimal(product.variants[0].compareAtPrice, 1, 'COMMA', 0, 'POINT')} + 'đ'">
                            Price
                        </p>
                    </div>
                </div>
                <span class="product-label sale-label"
                      th:if="${product.variants[0].compareAtPrice != null && product.variants[0].compareAtPrice > 0 && product.variants[0].compareAtPrice != product.variants[0].price}">
                    <span th:text="${T(java.lang.Math).round((((product.variants[0].compareAtPrice * 1.0) - product.variants[0].price) / product.variants[0].compareAtPrice) * 100)} + '%'"></span>
                </span>
            </div>
        </div>
    </a>
</div>

</body>
</html>