<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<link
        crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        rel="stylesheet"
/>
<body>
<section class="h-100" style="background-color: #f8eff1">
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img alt=""
                                 class="img-fluid" src="https://toplist.vn/images/800px/huong-boutique-1131153.jpg"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; height: 100%"/>
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-4 text-black">
                                <h3 class="mb-4 text-uppercase">Đăng ký tài khoản</h3>
                                <div class="alert alert-danger" th:if="${errorMessage}">
                                    <span th:text="${errorMessage}"></span>
                                </div>
                                <form action="/sessions/new-account" method="post">
                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <div class="form-outline">
                                                <label class="form-label" for="firstName">First name</label>
                                                <input class="form-control form-control-sm" id="firstName"
                                                       name="firstName"
                                                       required
                                                       type="text"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-2">
                                            <div class="form-outline">
                                                <label class="form-label" for="lastName">Last name</label>
                                                <input class="form-control form-control-sm" id="lastName"
                                                       name="lastName"
                                                       required
                                                       type="text"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-2">
                                        <label class="form-label" for="email">Email</label>
                                        <input class="form-control form-control-sm" id="email" name="email" required type="text"/>
                                    </div>
                                    <div class="form-outline mb-2">
                                        <label class="form-label" for="password">Password</label>
                                        <input class="form-control form-control-sm" id="password" name="password" required type="password"/>
                                    </div>
                                    <div class="mb-2 mt-4">
                                        <button class="btn btn-info btn-lg btn-block w-100" style="color: white;"
                                                type="submit" id="register">Đăng ký
                                        </button>
                                    </div>
                                    <div class="d-flex justify-content-center pt-2">
                                        <p style="color: #393f81;">Bạn đã có tài khoản? <a
                                                class="text-decoration-none" th:href="@{/sessions/login}">Đăng nhập tại
                                            đây</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>