<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Header</title>
</head>
<style>
    .sidebar_minimize .main-header, .sidebar_minimize .main-panel {
        width: calc(100% - 0px);
        transition: all .3s;
    }
    .main-header{
        background-color: #55527f;
    }
</style>
<body>
<div class="main-header">
    <div class="main-header-logo">
        <div class="logo-header" data-background-color="dark">
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>
    <nav class="navbar navbar-header navbar-expand-lg border-bottom">
        <div class="container-fluid">
            <ul class="navbar-nav ms-md-auto align-items-center">
                <li class="nav-item topbar-user dropdown hidden-caret">
                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown">
                        <div class="avatar-sm">
                            <img alt="" class="avatar-img rounded-circle" th:src="@{/images/profile.jpg}"/>
                        </div>
                        <span class="profile-username text-white">
                                    <span class="op-7">Hi,</span>
                            <input type="hidden" id="sellerId" th:value="${session.account != null && session.account.id != null ? session.account.id : ''}" />
                            <span class="fw-bold">
                                <span th:if="${session.account != null}"
                                      th:text="${session.account.firstName} + ' ' + ${session.account.lastName}"></span>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                        <div class="dropdown-user-scroll scrollbar-outer">
                            <li>
                                <div class="user-box">
                                    <div class="avatar-lg">
                                        <img alt="" class="avatar-img rounded" th:src="@{/images/profile.jpg}"/>
                                    </div>
                                    <div class="u-text">
                                        <h4 th:if="${session.account != null}" th:text="${session.account.firstName} + ' ' + ${session.account.lastName}"></h4>
                                        <p class="text-muted" th:if="${session.account != null}" th:text="${session.account.email}"></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/sessions/logout}" method="post" style="display:inline;">
                                    <button type="submit" class="dropdown-item"
                                            style="border: none; background: none; cursor: pointer;">Logout
                                    </button>
                                </form>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>