<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<style>
    body {
        font-size: 16px;
    }

</style>
<body>
<div th:fragment="detailsContent" class="mt-3">
    <form th:action="@{/admin/orders/{id}/update(id=${order.id})}" method="post">
        <div class="row d-flex justify-content-around mb-3">
            <label for="order-status" class="mb-2">Trạng thái đơn hàng</label>
            <select id="order-status" class="form-control" style="width: 90%" name="orderStatus">
                <option th:each="status : ${orderStatuses}"
                        th:value="${status}"
                        th:text="${status.getVietnameseStatus()}"
                        th:selected="${status == order.status}">
                </option>
            </select>
        </div>
        <button class="btn btn-success">Cập nhật</button>
    </form>
</div>
</body>
</html>