<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Footer</title>
</head>
<body>
<footer class="text-white text-center py-5" style="background-color: black; margin-top: 20px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h6 class="pb-4">Văn phòng</h6>
                <a class="text-white d-block pb-2" th:href="@{/}">Trụ sở chính: P404, Tầng 4, Tòa nhà GP Invest,</a>
                <a class="text-white d-block pb-2" th:href="@{/}">Điện thoại: 1800 1731</a>
                <a class="text-white d-block pb-2" th:href="@{/}">Email: onlinesale@evadeeva.com.vn</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h6 class="pb-4">Thông tin liên hệ</h6>
                <a class="text-white d-block pb-2" th:href="@{/}">Giới thiệu</a>
                <a class="text-white d-block pb-2" th:href="@{/}">Sự kiện</a>
                <a class="text-white d-block pb-2" th:href="@{/}">Tin tức</a>
                <a class="text-white d-block pb-2" th:href="@{/}">Tuyển dụng</a>
                <a class="text-white d-block pb-2" th:href="@{/}">Câu hỏi</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h6 class="pb-4">Chính sách bán hàng</h6>
                <a class="text-white d-block pb-2" th:href="@{/}">Chính sách thanh toán</a>
                <a class="text-white d-block pb-2" th:href="@{/}">Chính sách vận chuyển</a>
                <a class="text-white d-block pb-2" th:href="@{/}">Chính sách đổi trả</a>
                <a class="text-white d-block pb-2" th:href="@{/}">Chính sách bảo mật</a>
                <a class="text-white d-block pb-2" th:href="@{/}">Hướng dẫn chọn size</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h6 class="pb-4">Đăng ký nhận tin</h6>
                <a class="text-white d-block pb-2" th:href="@{/}">Để cập nhật những sản phẩm mới, nhận thông tin ưu đãi
                    đặc biệt và thông tin giảm giá khác.</a>
            </div>
        </div>
        <div class="pt-5">
            <p class="mb-1">&copy; 2024 Eva De Eva. Powered by Haravan</p>
            <p class="mb-1">Made with love by Me.</p>
        </div>
    </div>
</footer>
</body>
</html>