<html lang=""
      layout:decorate="~{layouts/seller/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/css/seller/order.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Seller</title>
</head>
<body>
<section layout:fragment="body">
    <div>
        <div class="gjs-row">
            <div id="orderList" class="gjs-cell">
                <div class="gjs-row d-flex align-items-center">
                    <div class="gjs-cell">
                        <form method="get" action="#" th:action="@{/seller/orders}">
                            <label class="text-black mb-2" for="order-status" style="font-size: 18px !important;">Trạng thái đơn hàng</label>
                            <select id="order-status" class="form-control" name="orderStatus"
                                    onchange="this.form.submit()">
                                <option th:selected="${orderStatus == null}">Tất cả</option>
                                <option th:each="status : ${orderStatuses}"
                                        th:value="${status.name()}"
                                        th:text="${status.getVietnameseStatus()}"
                                        th:selected="${orderStatus == status.name()}">
                                </option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="order-list-container">
                    <div th:if="${#lists.isEmpty(orders)}" class="no-orders">
                        Không có đơn hàng nào.
                    </div>
                    <div th:each="order : ${orders}" class="order-item" th:data-order-id="${order.id}"
                         onclick="loadOrderDetails(this)">
                        <div id="item_order" class="gjs-row">
                            <div class="gjs-cell">
                                <div id="orderCode">Mã đơn hàng: <span
                                        th:text="'ORDER-' + ${#strings.substring(order.id, order.id.length() - 5)}"></span>
                                </div>
                                <div id="time_order">Đặt lúc:
                                    <span th:text="${#temporals.format(order.createdDate, 'HH:mm dd/MM/yyyy')}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="orderDetail" class="gjs-cell detail_content" hidden="hidden">
                <div id="order_detail">
                    <div role="tablist" class="tab-container" hidden="hidden">
                        <div role="tab" aria-controls="ie60l" id="iw4e7" class="tab"
                             th:classappend="${activeTab == 'orderDetails'} ? 'active'">
                            <span>Chi tiết đơn hàng</span>
                        </div>
                    </div>
                    <div id="detailCustomer" class="tab-contents">
                        <div role="tabpanel" id="ie60l" aria-labelledby="iw4e7" hidden class="tab-content">
                            <div class="gjs-row">
                                <div id="code_time" class="gjs-cell">
                                    <div id="code"></div>
                                    <div id="time"></div>
                                </div>
                            </div>
                            <div class="gjs-row">
                                <div id="customerInfor" class="gjs-cell">
                                    <div id="detail_customer">THÔNG TIN KHÁCH HÀNG</div>
                                </div>
                            </div>
                            <div>
                                <table id="table_customer">
                                    <tbody>
                                    <tr>
                                        <td id="fullName">Họ và tên</td>
                                        <td id="name"></td>
                                    </tr>
                                    <tr>
                                        <td id="customerPhone">Số điện thoại</td>
                                        <td id="phone"></td>
                                    </tr>
                                    <tr>
                                        <td id="customerAddress">Địa chỉ</td>
                                        <td id="address"></td>
                                    </tr>
                                    <tr>
                                        <td id="customerEmail">Email:</td>
                                        <td id="email"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="gjs-row">
                                <div id="detailTitle" class="gjs-cell">
                                    <div id="detail_title">CHI TIẾT ĐƠN HÀNG</div>
                                </div>
                            </div>
                            <div id="table_content">
                                <table id="table_product">
                                    <thead>
                                    <tr>
                                        <th id="product_name">Tên sản phẩm</th>
                                        <th id="product_price">Đơn giá</th>
                                        <th id="product_quantity">Số lượng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p id="totalPrice" class="mt-2">Tổng tiền:
                                    <span id="amount"></span></p>
                                <input type="hidden" id="order-id" value="" />
                                <div id="note" class="font-bold"><i>Ghi chú</i></div>
                                <textarea id="sellerNote" style="width: 100%" name="note" placeholder="Thông tin về việc xác nhận hoặc hủy đơn hàng"></textarea>
                                <div id="button" class="gjs-row">
                                    <div id="cancel" class="gjs-cell m-3" th:if="${orderStatus == 'CREATED' || orderStatus == 'PAID' || orderStatus == 'CONFIRMED'}">
                                        <button type="button" name="action" onclick="handleOrderAction('cancel')" value="cancel" id="button_cancel"
                                                class="btn btn-outline-danger">HỦY ĐƠN
                                        </button>
                                    </div>
                                    <div id="confirm" class="gjs-cell" th:if="${orderStatus == 'CREATED' || orderStatus == 'PAID'}">
                                        <button type="button" name="action" onclick="handleOrderAction('confirm')" value="confirm" id="button_confirm"
                                                class="btn btn-outline-success">
                                            XÁC NHẬN
                                        </button>
                                    </div>
                                    <div id="delivering" class="gjs-cell" th:if="${orderStatus == 'CONFIRMED'}">
                                        <button type="button" name="action" onclick="handleOrderAction('delivering')" value="confirm" id="button_delivering"
                                                class="btn btn-outline-primary">
                                            Đang giao hàng
                                        </button>
                                    </div>
                                    <div id="complete" class="gjs-cell m-3" th:if="${orderStatus == 'DELIVERING'}">
                                        <button type="button" name="action" onclick="handleOrderAction('complete')" value="complete" id="button_complete"
                                                class="btn btn-outline-success">
                                            HOÀN THÀNH
                                        </button>
                                    </div>
                                    <div id="refunded" class="gjs-cell" th:if="${orderStatus == 'DELIVERING'}">
                                        <button type="button" name="action" onclick="handleOrderAction('refunded')" value="complete" id="button_refunded"
                                                class="btn btn-outline-warning">
                                            Trả hàng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function loadOrderDetails(orderElement) {
                const id = orderElement.getAttribute("data-order-id");
                fetch(`http://localhost:8080/seller/orders/${id}/details`)
                    .then(response => response.json())
                    .then(orderDetails => {
                        document.getElementById("sellerNote").value = orderDetails.note;
                        document.getElementById("code").innerText = "Mã đơn hàng: " + "ORDER-" + orderDetails.order.id.substring(orderDetails.order.id.length - 5);

                        const createdDate = new Date(orderDetails.order.createdDate);
                        const formattedDate = createdDate.toLocaleString('vi-VN', {
                            hour: '2-digit',
                            minute: '2-digit',
                            year: 'numeric',
                            month: '2-digit',
                            day: '2-digit'
                        }).replace(',', ' -');
                        document.getElementById("time").innerText = "Đặt lúc: " + formattedDate;
                        document.getElementById("name").innerText = orderDetails.order.customerName;
                        document.getElementById("phone").innerText = orderDetails.order.customerPhone;
                        document.getElementById("address").innerText = orderDetails.order.customerAddress.city + ", " + orderDetails.order.customerAddress.district + ", " + orderDetails.order.customerAddress.ward + ", " + orderDetails.order.customerAddress.street;
                        document.getElementById("email").innerText = orderDetails.order.customerEmail;

                        const orderItemsTable = document.querySelector("#table_product tbody");
                        orderItemsTable.innerHTML = "";

                        orderDetails.order.items.forEach(item => {
                            const product = orderDetails.products[item.productId];
                            const row = document.createElement("tr");
                            row.innerHTML = `
                                <td>${product.title}</td>
                                <td>${formatCurrency(product.price)}</td>
                                <td>${item.quantity}</td>
                            `;
                            orderItemsTable.appendChild(row);
                        });

                        document.getElementById("amount").innerText = formatCurrency(orderDetails.order.amount);
                        document.getElementById("ie60l").hidden = false;
                        const tabContainer = document.querySelector(".tab-container");
                        const detail_content = document.querySelector(".detail_content");
                        detail_content.removeAttribute("hidden");
                        tabContainer.removeAttribute("hidden");
                        document.getElementById("order-id").value = orderDetails.order.id;
                    });
            }

            function formatCurrency(number) {
                return new Intl.NumberFormat('vi-VN', {
                    style: 'currency',
                    currency: 'VND'
                }).format(number);
            }
            function handleOrderAction(action) {
                const id = document.getElementById("order-id").value;
                const note = document.getElementById("sellerNote").value;
                const sellerId = document.getElementById("sellerId").value;

                const requestBody = {
                    action: action,
                    note: note,
                    sellerId: sellerId
                };

                fetch(`http://localhost:8080/seller/orders/${id}/update`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestBody)
                })
                    .then(response => {
                        if (response.ok) {
                            if (action === "confirm") {
                                Swal.fire("Thành công!", "Đơn hàng đã được xác nhận.", "success");
                            } else if (action === "cancel") {
                                Swal.fire("Thành công!", "Đơn hàng đã được huỷ.", "success");
                            } else if (action === "delivering") {
                                Swal.fire("Thành công!", "Đơn hàng đang được giao hàng.", "success");
                            } else if (action === "complete") {
                                Swal.fire("Thành công!", "Đơn hàng đã được hoàn thành.", "success");
                            } else if (action === "refunded") {
                                Swal.fire("Thành công!", "Đơn hàng đã được trả hàng.", "success");
                            }
                            setTimeout(() => location.reload(), 1500);
                        } else {
                            Swal.fire("Lỗi!", "Đã xảy ra lỗi, vui lòng thử lại.", "error");
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Đã xảy ra lỗi, vui lòng thử lại.");
                    });
            }
        </script>
    </div>
</section>
</body>
</html>
